.gallery {
  padding: 20px; /* Increase padding */
  margin-bottom: 200px; /* Adjust the value as needed for your layout */
}

.gallery h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white; /* Set text color to white */
}