.technologies-section {
  background-color: #565264;
  padding: 40px;
}

.section-heading {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-description {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.tech-list,
.tech-skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tech-list li,
.tech-skills-list li {
  color: #d9d9d9;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.tech-list li a,
.tech-skills-list li a {
  color: #d9d9d9;
  text-decoration: none;
}

.tech-list li a:hover,
.tech-skills-list li a:hover {
  color: #ffffff;
}

.tech-image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 5px;
}